<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务器时间检查表</title>
    <style>
        .my-table {
            border-collapse: collapse; /*合并边框*/
        {#border: 1px solid #ddd; /*设置边框*/#}{#table-layout: auto;#} width: 100%;
        }

        .my-table th, .my-table td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd; /*设置边框*/
            width: 20%;
            overflow: hidden; /*隐藏溢出部分*/
            white-space: nowrap; /*禁止换行*/
            text-overflow: ellipsis; /*用省略号代替溢出部分*/
        }

        .my-table td:first-child {
            width: 50px; /*设置宽度*/
        }

        .my-table th:last-child, .my-table td:last-child {
            border-right: none;
        }

        .my-table tr:hover {
            background-color: #f5f5f5;
        }

        .red {
            color: red;
        }

    </style>
    <script>
        function checkSelection() {
            try {
                const form = document.getElementById("myForm");
                form.addEventListener("submit", function (event) {
                    const selectBoxes = Array.from(document.getElementsByName("forms"));
                    for (let i = 0; i < selectBoxes.length; i++) {
                        const selectBox = selectBoxes[i];
                        if (!selectBox.value) {
                            window.confirm("请选择一个选项");
                            event.preventDefault();
                            return false;
                        }
                    }
                });
                return true;
            } catch (error) {
                console.error("An error occurred:", error);
            }
        }

        // 绑定onchange事件
        document.getElementsByName("forms")[0].onchange = function() {
            // 获取第一行选中的数据
            var selectedValue = this.value;

            // 获取要同步更新的<select>元素引用
            var selectElems = document.getElementsByName("forms");

            // 遍历所有要同步更新的<select>元素
            for (var i = 1; i < selectElems.length; i++) {
            // 设置其selectedIndex属性，选中对应的<option>元素
                for (var j = 0; j < selectElems[i].options.length; j++) {
                    if (selectElems[i].options[j].value === selectedValue) {
                        selectElems[i].selectedIndex = j;
                        break;
                    }
                }
            }
        }
    </script>
</head>
<body>
<form id="myForm" method="post" action="{% url 'update_checklist' %}">
    {% csrf_token %}
    <table class="my-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>资产IP</th>
            <th>服务器名称</th>
            <th>时间是否同步</th>
            <th>巡检时间</th>
{#            <th>复核时间</th>#}
            <th>是否已调整</th>
            <th>检查人</th>
        </tr>
        </thead>
        <tbody>
        {% for form in queryset %}
{#            {% if (data.review_time-data.check_time).days >= 2 and data.time_synced == 0 %}class="red"{% endif %}#}
            <tr >
                <td>{{ form.id }}</td>
                <input type="hidden" name="forms" value="{{ form.id }}">
                <td>{{ form.asset_ip }}</td>
                <td>{{ form.server_name }}</td>
                <td>
                    <select name="forms" id="mySelect">
                        <option value="1" {% if form.time_synced == None %}selected{% endif %}>是</option>
                        <option value="0" {% if form.time_synced == False %}selected{% endif %}>否</option>
                    </select>
                </td>
{#                <td><input type="date" name="forms" value="{{ date_today|date:'Y-m-d' }}"></td>#}
                <td><input type="date" name="forms" value="{% if form.time_synced == False %}{{ form.check_time|date:'Y-m-d' }}{% else %}{{ date_today|date:'Y-m-d' }}{% endif %}"></td>
{#                <td><input type="date" name="forms" value="{% if form.review_time %}{{ form.review_time|date:'Y-m-d' }}{% else %}{{ date.today|date:'Y-m-d' }}{% endif %}"></td>#}
                <td>
                    <select name="forms">
                        <option value="0" {% if form.is_adjusted == None %}selected{% endif %}>否</option>
                        <option value="1">是</option>
{#                        <option value="1" {% if form.is_adjusted == False %}selected{% endif %}>是</option>#}
                    </select>
                </td>
                <td>
                    <select name="forms">
                        <option value="">请选择</option>
                        <option value="泮金鸽" {% if form.checked_by == '泮金鸽' and form.time_synced == False %}selected{% endif %}>泮金鸽</option>
                        <option value="周洲" {% if form.checked_by == '周洲' and form.time_synced == False %}selected{% endif %}>周洲</option>
                        <option value="詹雨衡" {% if form.checked_by == '詹雨衡' and form.time_synced == False %}selected{% endif %}>詹雨衡</option>
                        <option value="刘晨媛" {% if form.checked_by == '刘晨媛' and form.time_synced == False %}selected{% endif %}>刘晨媛</option>
{#                        <option value="刘晨媛">刘晨媛</option>#}
                        <option value="王盛阳" {% if form.checked_by == '王盛阳' and form.time_synced == False %}selected{% endif %}>王盛阳</option>
                        <option value="金远凡" {% if form.checked_by == '金远凡' and form.time_synced == False %}selected{% endif %}>金远凡</option>
                        <option value="连冠" {% if form.checked_by == '连冠' and form.time_synced == False %}selected{% endif %}>连冠</option>
                        <option value="倪方杰" {% if form.checked_by == '倪方杰' and form.time_synced == False %}selected{% endif %}>倪方杰</option>
                        <option value="邵华强" {% if form.checked_by == '邵华强' and form.time_synced == False %}selected{% endif %}>邵华强</option>
                        <option value="陈振宇" {% if form.checked_by == '陈振宇' and form.time_synced == False %}selected{% endif %}>陈振宇</option>
                        <option value="张海伦" {% if form.checked_by == '张海伦' and form.time_synced == False %}selected{% endif %}>张海伦</option>
                        <option value="张智杰" {% if form.checked_by == '张智杰' and form.time_synced == False %}selected{% endif %}>张智杰</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" id="myButton">提交</button>
</form>
<a href="javascript:history.back()">返回</a>
</body>
</html>

