<table>
    <colgroup>
        <col style="width: 100%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td><strong>信息处每日巡检表</strong>版本6.29</td>
    </tr>
    <tr class="even">
        <td>巡检日期： 年 月 日 巡检人签名： 审核人： 审核时间： 年 月 日</td>
    </tr>
    </tbody>
</table>
<table>
    <colgroup>
        <col style="width: 4%"/>
        <col style="width: 17%"/>
        <col style="width: 3%"/>
        <col style="width: 22%"/>
        <col style="width: 7%"/>
        <col style="width: 0%"/>
        <col style="width: 11%"/>
        <col style="width: 0%"/>
        <col style="width: 6%"/>
        <col style="width: 25%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="5"><p><strong>项<br/>
            目</strong></p>
            <p><strong>1</strong></p></td>
        <td colspan="5"><strong>巡检时间</strong>(HH:MM)</td>
        <td colspan="2"><strong>巡检项目</strong></td>
        <td colspan="2"><strong>LIS与HIS交互 服务器巡检 101.130</strong></td>
    </tr>
    <tr class="even">
        <td
                colspan="9"><strong>1.操作系统空间（不能少于备注剩余空间）</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="2">C:(5.6GB)</td>
        <td colspan="2"></td>
        <td colspan="2">D:（9.6G）</td>
        <td colspan="3"></td>
    </tr>
    <tr class="even">
        <td colspan="9"><strong>2.检查LIS服务是否开启:</strong></td>
    </tr>
    <tr class="odd">
        <td><strong>启动lis程序</strong></td>
        <td colspan="2"><strong>启动□ 未启动□</strong></td>
        <td colspan="5"><strong>启动lis替代程序</strong></td>
        <td><strong>启动□ 未启动□</strong></td>
    </tr>
    </tbody>
</table>
<table>
    <colgroup>
        <col style="width: 5%"/>
        <col style="width: 33%"/>
        <col style="width: 15%"/>
        <col style="width: 1%"/>
        <col style="width: 14%"/>
        <col style="width: 30%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="4"></td>
        <td colspan="3"><strong>巡检时间</strong>(HH:MM)</td>
        <td><strong>巡检项目</strong></td>
        <td><strong>虚拟化平台巡检</strong></td>
    </tr>
    <tr class="even">
        <td><strong>云机房设备 11.7 (不能超过85%)：</strong></td>
        <td><strong>正常□ 异常□</strong></td>
        <td colspan="3"><strong>异常情况：</strong></td>
    </tr>
    <tr class="odd">
        <td><strong>深信服超融合 106.8 (不能超过85%)：</strong></td>
        <td><strong>正常□ 异常</strong></td>
        <td colspan="3"><strong>异常情况：</strong></td>
    </tr>
    <tr class="even">
        <td><strong>VM 100.25(不能超过85%)：</strong></td>
        <td><strong>正常□ 异常□</strong></td>
        <td colspan="3"><strong>异常情况：</strong></td>
    </tr>
    </tbody>
</table>
<table>
    <colgroup>
        <col style="width: 4%"/>
        <col style="width: 49%"/>
        <col style="width: 10%"/>
        <col style="width: 4%"/>
        <col style="width: 31%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="3"><strong>项<br/>
            目<br/>
            3</strong></td>
        <td><strong>巡检时间</strong>(HH:MM)</td>
        <td><strong>巡检项目</strong></td>
        <td colspan="2"><strong>PACS NAS 服务器105.9</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>1.Server Status Console 状态</strong></td>
        <td><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>2.剩余空间（不能超过80%）</strong></td>
        <td><strong>正常□ 异常□</strong></td>
    </tr>
    </tbody>
</table>
<table>
    <colgroup>
        <col style="width: 5%"/>
        <col style="width: 34%"/>
        <col style="width: 16%"/>
        <col style="width: 10%"/>
        <col style="width: 33%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="3"><strong>项目4</strong></td>
        <td colspan="2"><strong>巡检时间</strong>(HH:MM)</td>
        <td><strong>巡检项目</strong></td>
        <td><strong>防统方 巡检 100.197</strong></td>
    </tr>
    <tr class="even">
        <td><strong>是否有异常统方</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="4"><strong>异常情况：</strong></td>
    </tr>
    </tbody>
</table>
<table>
    <colgroup>
        <col style="width: 5%"/>
        <col style="width: 25%"/>
        <col style="width: 20%"/>
        <col style="width: 4%"/>
        <col style="width: 10%"/>
        <col style="width: 20%"/>
        <col style="width: 13%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="7"><strong>项目5</strong></td>
        <td colspan="3"><strong>巡检时间</strong>(HH:MM)</td>
        <td><strong>巡检项目</strong></td>
        <td colspan="2"><strong>日常网络安全监测 巡检</strong></td>
    </tr>
    <tr class="even">
        <td><p><strong>是否存在僵尸主机风险</strong></p>
            <p><strong>（存在的话写下IP地址）</strong></p></td>
        <td></td>
        <td colspan="3"><p><strong>处置情况</strong></p>
            <p><strong>（杀毒软件查杀是否有病毒，是否有漏洞，处理完10分钟后看看是否处理成功）</strong></p></td>
        <td></td>
    </tr>
    <tr class="odd">
        <td><p><strong>是否有业务已失陷</strong></p>
            <p><strong>（存在的话写下IP地址）</strong></p></td>
        <td></td>
        <td colspan="3"><p><strong>处置情况</strong></p>
            <p><strong>（杀毒软件查杀是否有病毒，是否有漏洞，处理完10分钟后看看是否处理成功）</strong></p></td>
        <td></td>
    </tr>
    <tr class="even">
        <td><p><strong>业务被攻击几次</strong></p>
            <p><strong>（从攻击事件汇总里面查看）</strong></p></td>
        <td></td>
        <td colspan="3"><p><strong>处置情况</strong></p>
            <p><strong>（是否都把攻击IP加入封堵名单）</strong></p></td>
        <td></td>
    </tr>
    <tr class="odd">
        <td><p><strong>是否存在失陷用户</strong></p>
            <p><strong>（存在的话写下IP地址）</strong></p></td>
        <td></td>
        <td colspan="3"><p><strong>处置情况</strong></p>
            <p><strong>（杀毒软件查杀是否有病毒，是否有漏洞，处理完10分钟后看看是否处理成功）</strong></p></td>
        <td></td>
    </tr>
    <tr class="even">
        <td><p><strong>是否存在全网实时热点事件</strong></p>
            <p><strong>（存在的话蓝色的会变红，点击查看后，写下IP地址）</strong></p></td>
        <td></td>
        <td colspan="3"><p><strong>处置情况</strong></p>
            <p><strong>（杀毒软件查杀是否有病毒，是否有漏洞，处理完10分钟后看看是否处理成功）</strong></p></td>
        <td></td>
    </tr>
    <tr class="odd">
        <td colspan="6"><strong>异常情况：</strong></td>
    </tr>
    </tbody>
</table>
<table style="width:100%;">
    <colgroup>
        <col style="width: 5%"/>
        <col style="width: 6%"/>
        <col style="width: 2%"/>
        <col style="width: 4%"/>
        <col style="width: 1%"/>
        <col style="width: 4%"/>
        <col style="width: 4%"/>
        <col style="width: 4%"/>
        <col style="width: 2%"/>
        <col style="width: 7%"/>
        <col style="width: 0%"/>
        <col style="width: 0%"/>
        <col style="width: 2%"/>
        <col style="width: 5%"/>
        <col style="width: 3%"/>
        <col style="width: 1%"/>
        <col style="width: 1%"/>
        <col style="width: 2%"/>
        <col style="width: 4%"/>
        <col style="width: 1%"/>
        <col style="width: 1%"/>
        <col style="width: 0%"/>
        <col style="width: 1%"/>
        <col style="width: 4%"/>
        <col style="width: 3%"/>
        <col style="width: 0%"/>
        <col style="width: 4%"/>
        <col style="width: 3%"/>
        <col style="width: 4%"/>
        <col style="width: 8%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="15"><p><strong>项目</strong></p>
            <p><strong>6</strong></p></td>
        <td colspan="15"><strong>巡检时间</strong>(HH:MM)</td>
        <td colspan="6"><strong>巡检项目</strong></td>
        <td colspan="8"><strong>新科士达 UPS巡检</strong></td>
    </tr>
    <tr class="even">
        <td>主路</td>
        <td colspan="3">电压</td>
        <td colspan="2">频率</td>
        <td colspan="2">旁路</td>
        <td colspan="2">电压</td>
        <td colspan="3">频率</td>
        <td colspan="6">电池电压：</td>
        <td colspan="10"></td>
    </tr>
    <tr class="odd">
        <td>RS</td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2">R</td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="6">电池电流：</td>
        <td colspan="10"></td>
    </tr>
    <tr class="even">
        <td>ST</td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2">S</td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="6">是否正在充电</td>
        <td colspan="10">是□ 否□</td>
    </tr>
    <tr class="odd">
        <td>TR</td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2">T</td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="6"></td>
        <td colspan="10"></td>
    </tr>
    <tr class="even">
        <td>输出</td>
        <td colspan="3">电压</td>
        <td colspan="2">电流</td>
        <td colspan="2">输出</td>
        <td colspan="2">线电压</td>
        <td colspan="3">频率</td>
        <td colspan="3">输出</td>
        <td colspan="3">视在</td>
        <td colspan="4">有功</td>
        <td colspan="3">输出</td>
        <td colspan="2">负载率</td>
        <td>功因</td>
    </tr>
    <tr class="odd">
        <td>R</td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2">RS</td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="3">R</td>
        <td colspan="3"></td>
        <td colspan="4"></td>
        <td colspan="3">R</td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr class="even">
        <td>S</td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2">ST</td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="3">S</td>
        <td colspan="3"></td>
        <td colspan="4"></td>
        <td colspan="3">S</td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr class="odd">
        <td>T</td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="2">TR</td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="3">T</td>
        <td colspan="3"></td>
        <td colspan="4"></td>
        <td colspan="3">T</td>
        <td colspan="2"></td>
        <td></td>
    </tr>
    <tr class="even">
        <td colspan="14"><strong>巡检时间</strong>(HH:MM)</td>
        <td colspan="4"><strong>巡检项目</strong></td>
        <td colspan="11"><strong>科士达 UPS巡检</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3">输出电压:</td>
        <td colspan="4"></td>
        <td colspan="4">输出电流:</td>
        <td colspan="6"></td>
        <td colspan="3">频率:</td>
        <td colspan="4"></td>
        <td colspan="3">负载:</td>
        <td colspan="2">　</td>
    </tr>
    <tr class="even">
        <td colspan="3">输入电压:</td>
        <td colspan="4"></td>
        <td colspan="4">输入电流:</td>
        <td colspan="6"></td>
        <td colspan="3">频率:</td>
        <td colspan="3"></td>
        <td colspan="4">旁路电压:</td>
        <td colspan="2"><strong>　</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3">正电池电压:</td>
        <td colspan="4"></td>
        <td colspan="5">负电池电压:</td>
        <td colspan="10">　</td>
        <td colspan="5">有无err日志:</td>
        <td colspan="2">　</td>
    </tr>
    <tr class="even">
        <td colspan="2">模块1:</td>
        <td colspan="3"></td>
        <td colspan="2">模块2:</td>
        <td colspan="2"></td>
        <td colspan="4">模块3:</td>
        <td colspan="4"></td>
        <td colspan="3">空调:</td>
        <td colspan="5"></td>
        <td colspan="2">湿度:</td>
        <td colspan="2"></td>
    </tr>
    <tr class="odd">
        <td colspan="29"><strong>异常情况：</strong></td>
    </tr>
    </tbody>
</table>
<table>
    <colgroup>
        <col style="width: 4%"/>
        <col style="width: 21%"/>
        <col style="width: 4%"/>
        <col style="width: 2%"/>
        <col style="width: 6%"/>
        <col style="width: 3%"/>
        <col style="width: 5%"/>
        <col style="width: 4%"/>
        <col style="width: 25%"/>
        <col style="width: 0%"/>
        <col style="width: 6%"/>
        <col style="width: 3%"/>
        <col style="width: 12%"/>
    </colgroup>
    <tbody>
    <tr class="odd">
        <td rowspan="49"><strong>项<br/>
            目<br/>
            7</strong></td>
        <td colspan="6"><strong>巡检时间</strong>(HH:MM)</td>
        <td colspan="3"><strong>巡检项目</strong></td>
        <td colspan="3"><strong>主机房设备状态 巡检</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>项目</strong></td>
        <td colspan="3"><strong>运转情况</strong></td>
        <td colspan="4"><strong>项目</strong></td>
        <td colspan="2"><strong>运转情况</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜01 1-1 存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 PACS存储</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜01 1-2 存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 1.29冷备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜01 1-3 存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 1.29 PACS</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜01 1-4 存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 1.32冷备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜01 1-5 存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 1.32莱达web服务</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜01 1-11 服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 1.13冷备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜01 1-12 服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜07 院内网</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜01 1-13 服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 NAS 存储1</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜02 超融合服务器1</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 NAS2 NETAPP</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜02 超融合服务器2</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 杏和LIS</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜02 超融合服务器3</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 连帆输液</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜02 超融合服务器4</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08
            中文期刊、趋势杀毒、盈高桌面</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜02 虚拟化存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 医保前置机</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜02 血糖服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 老嘉禾服务器</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜02 安恒堡垒机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 市民卡、健康卡前置机</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜03 G400 小机存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 卫计委万达前置机</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜03 容灾一体机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 全国农保前置</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜03 老HIS服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜08 温岭四院影像前置</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜04 小机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜10 10-1 核心交换机2</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜04 老HIS服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜10 10-2 应用负载服务器</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜04 X86容灾小机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜10 10-3应用负载服务器</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜04 G400 小机存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜11 11-1 核心交换机1</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜05 医保测试服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜11 11-2 防火墙</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜05 医学文件检索</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜11 11-3 汇聚交换机</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜05 启明星辰日志审计</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜11 11-4 汇聚交换机</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜05 横渡防统方服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-1 准入</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜05 门诊药房发药机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-2 MSTS设备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜05 眼科医院容灾一体机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-3 VPN设备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜05 眼科医院医保前置机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-4 日志管理1</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜05 云备姆一体机</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-5 日志管理2</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜06 清鹤电子大屏服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-6 IPS1</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜06 智慧医院IPTV服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-7 IPS2</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜06 眼科微脉服务器</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-8 网管设备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜06 GE影像虚拟PACS存储</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-9 网银设备</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜06 GE影像虚拟PACS</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-10 全国农保</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜06 GE影像虚拟RIS</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-11 外网防火墙1</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜06 GE影像虚拟web</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜12 12-12 外网防火墙2</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>机柜06 上海肺科医院对接</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜13 信息中心办公室交换机1.2</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="3"><strong>机柜06 英特银联药房</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜14 防火墙、无线AP汇聚交换机</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td rowspan="3"><p><strong>温湿度探测器:</strong></p>
            <p><strong>机房温度：20°- 25°</strong></p>
            <p><strong>机房湿度50 - 70</strong></p></td>
        <td colspan="2"><strong>左边</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜15 PACS HNAS 控制终端</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td colspan="2"><strong>中间</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜15 PACS F350 NAS 存储</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="2"><strong>右边</strong></td>
        <td colspan="3"><strong>正常□ 异常□</strong></td>
        <td colspan="4"><strong>机柜15 PACS G11（1-4）对象存储</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="odd">
        <td></td>
        <td colspan="2"></td>
        <td colspan="3"></td>
        <td colspan="4"><strong>机柜15 PACS HCP对象终端</strong></td>
        <td colspan="2"><strong>正常□ 异常□</strong></td>
    </tr>
    <tr class="even">
        <td colspan="4"><strong>美的空调：（本周是否开放：是□
            否□）</strong></td>
        <td colspan="3"></td>
        <td colspan="4"><strong>海信空调：（本周是否开放：是□
            否□）</strong></td>
        <td></td>
    </tr>
    <tr class="odd">
        <td colspan="2" rowspan="2"><p><strong>新精密空调：</strong></p>
            <p><strong>(本周是否开放：是□ 否)</strong></p></td>
        <td colspan="3"><strong>室内温度:</strong></td>
        <td colspan="2"></td>
        <td rowspan="2"><p><strong>老精密空调：</strong></p>
            <p><strong>(本周是否开放：是 否□)</strong></p></td>
        <td colspan="3"><strong>室内温度:</strong></td>
        <td></td>
    </tr>
    <tr class="even">
        <td colspan="3"><strong>室内湿度:</strong></td>
        <td colspan="2"></td>
        <td colspan="3"><strong>室内湿度:</strong></td>
        <td></td>
    </tr>
    <tr class="odd">
        <td colspan="12"><strong>异常情况：</strong></td>
    </tr>
    </tbody>
</table>
