<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务器时间检查表</title>
    <script>
        function printpage() {
            const submitButton = document.getElementById("download");
            submitButton.addEventListener("click", function (event) {
                event.preventDefault();
                const form = document.getElementById("myForm");
                const formData = new FormData(form);
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/updatechecklist");
                xhr.send(formData);
            });
            document.getElementById("download").style.display = "none";
            window.print()
            setTimeout(document.getElementById("download").style.display = "block", 1000);
        }
    </script>
</head>
<body>
123456
<form id="myForm" method="post" action="">
    {% csrf_token %}
    <table>
        <thead>
        <tr>
            <th>序号</th>
            <th>资产IP</th>
            <th>服务器名称</th>
            <th>时间是否同步</th>
            <th>核对时间</th>
            <th>是否已调整</th>
            <th>检查人</th>
        </tr>
        </thead>
        <tbody>
        {% for forms in form %}
            <tr>
                <td>{{ forms.id }}</td>
                <td>{{ forms.asset_ip }}</td>
                <td>{{ forms.server_name }}</td>
                <td>
                    <select name="time_synced" value="{{ forms.time_synced }}">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
                <td><input type="date" name="check_time" value="{{ forms.check_time }}"></td>
                <td>
                    <select name="is_adjusted" value="{{ forms.is_adjusted }}">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
{#                <td><input type="text" name="is_adjusted" value="{{ forms.is_adjusted }}"></td>#}
                <td><input type="text" name="checked_by" value="{{ forms.checked_by }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input id="download" type="button" style="height:50px;width:500px" value="点击生成pdf" onclick="printpage()">
</form>
</body>
</html>

